/*提示框*/
.mask{
	display:none;
	width:100%;
	height:100%;
	position:fixed;
	top:0;
	left:0;
	background:rgba(0,0,0,0.4);
	z-index:99;
}
.prompt-view{
	display:none;
	width:320px;
	position:fixed;
	top:50%;
	left:50%;
	margin-top:-150px;
	margin-left:-160px;
	background:#ffffff;
	border-radius:6px;
	z-index:999;
}
.prompt-top{
	height:48px;
	font-size:17px;
	line-height:48px;
	border-bottom:1px solid #dddddd;
	padding:0 12px;
}
.prompt-center{
	padding:20px 12px;
	font-size:16px;
	text-align:center;
}
.prompt-bottom{
	height:56px;
	border-top:1px solid #dddddd;
}
.prompt-bottom input{
	width:88px;
	height:36px;
	font-size:16px;
	float:right;
	margin:10px 12px 0 0;
	background:#1596fa;
	color:#ffffff;
	border:none;
	border-radius:6px;
	outline:0;
	cursor:pointer;
}
.prompt-bottom input:hover{
	background:#d54b4b;
}